<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @negotiation, partial: "card", as: :negotiation %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "negotiations/negotiation_messages" %>
  </div>
</div>
  <!-- Show Page Customization end -->
